*[id]:before {
  display: block;
  content: " ";
  visibility: hidden;
  margin-top: -260px;
  height: 260px; }
  @media screen and (min-width: 480px) {
    *[id]:before {
      margin-top: -130px;
      height: 130px; } }
      
*:focus {
      outline: none;
}

a {
  text-decoration: none; }

li {
  list-style-type: none; }

#logo {
  text-align: center;
  margin: 0; }

h1 {
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px; }

h2 {
  color: white;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: underline; }

h3 {
  font-size: 25px; }

nav {
  padding-bottom: 10px; }

header {
  float: left;
  width: 100%; }

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 5px;
  border-bottom: 2px solid #DFDFDF; }
  nav ul {
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px; }
  nav li {
    padding-right: 20px;
    display: inline-block; }
  nav a, nav a:visited {
    color: black;
    font-size: 18px; }
  nav .right {
    float: right; }

#drop-down-icon {
  cursor: pointer;
  width: 50px;
  padding: 1px;
  border: solid grey 1px;
  background-color: white;
  display: inline;
  float: right;
  margin-right: 5px;
  font-size: 25px;
  margin-top: 13px; }
  @media screen and (min-width: 480px) {
    #drop-down-icon {
      display: none; } }

.nav {
  margin-left: 10%; }

.links {
  border-top: 2px solid grey;
  display: none;
  position: absolute;
  top: 87px;
  text-align: center;
  background-color: white;
  width: 100%; }
  .links li {
    display: block;
    float: none;
    padding: 8px 4px 8px 4px;
    border-bottom: 2px solid grey; }
    .links li a {
      padding: 4px 15px; }
  @media screen and (min-width: 480px) {
    .links {
      margin-left: 10%;
      display: inline;
      position: relative;
      text-align: inherit;
      top: auto;
      border: none; }
      .links li {
        display: inherit;
        border: none; } }

.mob-header {
  background-image: url("../img/pattern3.png");
  text-align: center;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 480px) {
    .mob-header {
      display: none; } }

.mob-sub-title {
  display: inline-block;
  font-size: 25px;
  color: white;
  background-color: black;
  padding: 5px 20px;
  margin-top: 150px; }

.parallax {
  display: none;
  z-index: -1;
  background-image: url("../img/pattern3.png");
  text-align: center;
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 480px) {
    .parallax {
      display: block;
      height: 450px; } }

.sub-title {
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: black;
  margin-top: 150px;
  margin-left: 1%;
  padding: 10px; }
  @media screen and (min-width: 480px) {
    .sub-title {
      margin-left: 15%;
      margin-top: 260px; } }
  @media screen and (min-width: 670px) {
    .sub-title {
      margin-left: 25%; } }
  @media screen and (min-width: 820px) {
    .sub-title {
      margin-left: 35%; } }

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 5% 50px 5%;
  overflow: auto;
  background-color: white; }
  .wrapper h3 {
    padding-left: 40px;
    font-size: 30px;
    color: grey; }

img {
  max-width: 100%; }

.gallery {
  margin: 0;
  padding: 0;
  text-align: center; }
  .gallery li {
    background-color: white;
    padding: 5%;
    color: #ed35c7; }
    @media screen and (min-width: 480px) {
      .gallery li {
        width: 32%;
        padding: 3%;
        display: inline-block;
        border: 2px black solid; } }
    @media screen and (min-width: 820px) {
      .gallery li {
        width: 18%; } }

footer {
  clear: both; }

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.95); }
  @media screen and (min-width: 480px) {
    #overlay {
      background: rgba(0, 0, 0, 0.7); } }
  #overlay img {
    margin-top: 40%;
    width: 70%; }
    @media screen and (min-width: 480px) {
      #overlay img {
        margin-top: 20%;
        width: 50%; } }
    @media screen and (min-width: 820px) {
      #overlay img {
        margin-top: 10%;
        width: 30%; } }

.no-scroll {
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
